body {
  min-width: 1200px;

  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.big-header {
  font-weight: bold;
  font-size: 60px;
  line-height: 60px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

.middle-header {
  font-weight: bold;
  font-size: 35px;
  line-height: 41px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
}

body.green-theme {
  background-color: #849d8f;
}

.index-grid-body {
  min-height: 2416px;

  background: #000000 url("../img/previews/gllacy-index-1200.jpg") no-repeat 50% 0;
  background-size: 1200px 2416px;
}

.catalog-grid-body {
  min-height: 1650px;

  background: #000000 url("../img/previews/gllacy-catalog-1200.jpg") no-repeat 50% 0;
  background-size: 1200px 1650px;
}

.container {
  width: 1150px;
  margin: 0 auto;
  padding-right: 25px;
  padding-left: 25px;
}

.clearfix:after {
  content: "";

  display: table;
  clear: both;
}

.main-header {
  padding-top: 10px;
}

header .block-left {
  float: left;
  width: 850px;
}

header .block-right {
  float: right;
  width: 270px;

  text-align: right;
}

ul.navi {
  margin: 0;
  padding-left: 0;

  font-size: 0;
}

.gllacy-logo a {
  display: inline-block;
  height: 62px;
}

.gllacy-logo img {
  vertical-align: middle;
}

.banner-item .block-right {
  text-align: right;
}

.main-header-navigation,
.main-header-controls-wrapper {
  /*min-height: 65px;*/
}

.control-wrapper {
  display: inline-block;
}

.slider,
.slider-slides {
  min-height: 495px;
}

.slider {
  position: relative;

  text-align: center;
}

.slider-control-panel {
  position: absolute;
  bottom: 0;
  left: 0;

  min-width: 1150px;
}

.slider-navi {
  position: absolute;
  bottom: 0;
  left: 0;

  min-width: 265px;
  min-height: 65px;

  text-align: left;
}

.slider-button {
  position: absolute;
  bottom: 0;
  left: 0;

  min-width: 1150px;
  min-height: 65px;

  text-align: center;
}

.navi-item {
  display: inline-block;

  font-size: 16px;
  line-height: 18px;
}

.navi-item.gllacy-logo {
  margin-right: 15px;
}

.navi-item:not(.gllacy-logo) {
  position: relative;

  margin: 5px;
}

.navi-item:not(.gllacy-logo) > a {
  margin: 8px;
  padding: 0;

  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.navi-item:not(.gllacy-logo):hover > a {
  margin: 0;
  padding: 8px;

  color: #000000;

  background-color: #ffffff;
  border-radius: 20px;
}

.navi-item:not(.gllacy-logo):active > a {
  box-shadow: inset 0 1px 3px 0 #000000;
}

.navi-item.item-selected > a {
  margin: 0;
  padding: 8px;

  color: #ffffff;

  background-color: #d07058;
  border-bottom: none;
  border-radius: 20px;
}

.navi-item:not(.gllacy-logo):hover .navi-item-submenu-wrapper {
  display: block;
}

.navi-item-submenu-wrapper {
  position: absolute;
  top: 20px;
  left: -5px;
  z-index: 999;

  padding-top: 12px;
}

.navi-item-submenu {
  width: 145px;
  height: 171px;
  padding: 0;

  list-style-type: none;

  background-color: #ffffff;
  border-radius: 5px;
}

.submenu-item span {
  display: block;
  padding-bottom: 9px;

  border-bottom: 1px solid #d1d0ce;
}

.submenu-item a {
  display: block;
  padding: 9px 10px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.submenu-item a:hover {
  background-color: #fbded7;
}

.submenu-item a:active {
  background-color: #f6b5a5;
}

.submenu-item.item-selected a {
  background-color: #d07058;
}

.submenu-item:first-child a {
  border-radius: 5px 5px 0 0;
}

.submenu-item:last-child a {
  border-radius: 0 0 5px 5px;
}

.submenu-item.item-highlighted a {
  padding-bottom: 0;

  font-weight: bold;
}

.control-popup,
#slide-2,
#slide-3,
.seo-header,
.navi-item-submenu-wrapper {
  display: none;
}

.main-header-phone {
  display: block;
}

.slider .big-header {
  position: absolute;
  top: 50%;

  width: 100%;
}

/*.slider img {
  margin-top: -75px;
}*/

.banner-item,
.news-blog,
.subscribe-blog {
  display: inline-block;
  width: 560px;
  min-height: 230px;
  margin-top: 35px;
  margin-right: 25px;
}

.banner-item.chocolates,
.subscribe-blog {
  margin-right: 0;
}

.ice-list {
  margin-top: 20px;
}

.ice-item {
  display: inline-block;
  width: 270px;
  min-height: 350px;
  margin-right: 19px;
  margin-bottom: 5px;
}

.ice-item:nth-child(4n) {
  margin-right: 0;
}

.seo-main-header {
  min-height: 85px;
  margin-top: 20px;
}

.seo .first-column {
  float: left;
  width: 560px;
  min-height: 215px;
  margin-top: 5px;
}

.seo .second-column {
  float: right;
  width: 560px;
  min-height: 215px;
  margin-top: 5px;
}

.map {
  position: relative;

  width: 1200px;
  margin: 0 auto;
}

.interactive-map {
  min-height: 430px;
  margin-top: 30px;
}

.feedback-panel {
  position: absolute;
  top: 65px;
  right: 25px;

  width: 305px;
  height: 305px;
}

.main-footer .block-left {
  float: left;
  width: 265px;
  min-height: 100px;
  margin-right: 25px;
}

.main-footer .block-center {
  display: inline-block;
  width: 570px;
  min-height: 100px;
}

.main-footer .block-right {
  float: right;
  width: 265px;
  min-height: 100px;
  margin-left: 25px;
}

.footer-links .first-column {
  display: inline-block;
  width: 49%;
  min-height: 100px;

  text-align: right;
}

.footer-links .secont-column {
  display: inline-block;
  width: 49%;
  min-height: 100px;

  text-align: left;
}

.feedback-popup {
  display: none;
  width: 480px;
  min-height: 440px;
}

.page-header {
  min-height: 70px;
  margin-top: -20px;
}

.filters {
  min-width: 880px;
  min-height: 170px;
}

.ice-pagination {
  min-height: 60px;
  margin-top: 45px;

  text-align: right;
}

.ice-page-item,
.breadcrumb-item {
  display: inline-block;
}

.filters fieldset {
  display: inline-block;
}
